@media (max-width: 970px) {
    section.hero-wrapper {
        flex-direction: column;
    }

    section.hero-content {
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 767px) {
    .hamburger {
        display: block;
    }

    nav.header-wrapper-nav {
        display: none;
    }
}

@media (max-width: 500px) {
    h1.hero-content-heading {
        font-size: 60px;
        
    }

    h4.hero-content-subheading {
        font-size: 24px;
        
    }

    section.footer-wrapper {
        flex-direction: column;
        text-align: center;
        gap: 16px;
    }
}